@use "../utils/box-shadow.scss";

.explorer {
    text-align: center;
& h2 {
    margin-top: 2rem;
}

& p {
    font-size: 1rem;
}

& button {
    color: white;
    font-weight: 300px;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient( to top , rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition: all 200ms;
    margin-top: 1rem;
    cursor: pointer;
    @include box-shadow.base-shadow;
}

& button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

}