@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

:root {
    --lightgrey: #f3f3f3 ;
} 

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto",sans-serif;
}

header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    padding: 0.3rem;
    margin:0;
    position: relative;
}

main .city  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--lightgrey);
    text-align: center;
    padding: 0.5rem;
}

main .city i {
   font-size: 1.5rem; 
}

/* EXPLORER */
.explorer {
    text-align: center;
}

.explorer h2 {
    margin-top: 2rem;
}

.explorer p {
    font-size: 1rem;
}

.explorer button {
    color: white;
    font-weight: 300px;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 2px 1px 8px -3px #000000 ;
    background-image: linear-gradient( to top , rgba(147,86,220,.9),rgba(255,121,218,.9));
    transition: all 200ms;
    margin-top: 1rem;
    cursor: pointer;
}

.explorer button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}