@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
:root {
  --lightgrey: #f3f3f3 ;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  width: 100vw;
}
.city i {
  font-size: 1.5rem;
}
.city h2 {
  font-size: 1rem;
}

.explorer {
  text-align: center;
  margin: 2rem;
}
.explorer h2 {
  font-size: 1.5rem;
  margin: 1rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1rem;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disapear 200ms 3s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disapear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.tuto {
  counter-reset: steps;
}
.tuto h2 {
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fa-solid {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
#homepage .menus h2 {
  padding: 0 0 1rem;
}
#homepage .menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  #homepage .menus .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus_cards .new {
  position: relative;
}
#homepage .menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card .card_image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
#homepage .menus .card_image-1 {
  background-image: url("./image/menu-1.jpg");
}
#homepage .menus .card_image-2 {
  background-image: url("./image/menu-2.jpg");
}
#homepage .menus .card_image-3 {
  background-image: url("./image/menu-3.jpg");
}
#homepage .menus .card_image-4 {
  background-image: url("./image/menu-4.jpg");
}
#homepage .menus .card_description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  height: 4rem;
}
#homepage .menus .card_description h3,
#homepage .menus .card_description p {
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}
#homepage .menus .card_description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
#homepage .menus .card_description .fa-solid {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card_description:hover .fa-solid {
  opacity: 1;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page-resto header:hover::before {
  transform: scale(1.05) translateY(-50%);
}
#page-resto header::before {
  content: "\f060";
  transition: transform 200ms;
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  cursor: pointer;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.banner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

.resto_div {
  position: relative;
  margin-top: -2rem;
}
.resto_div h2 {
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.resto_div i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.resto_div #heart {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  cursor: pointer;
}
.resto_div #heart:hover {
  opacity: 1;
  transform: translateY(-50%);
}

.resto-main {
  padding: 0 1rem;
}

.menus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus-grid {
    grid-template-columns: 1fr;
  }
}
.menus-grid h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.menus-grid h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
  position: absolute;
  top: 1.5rem;
  left: 0rem;
}
.menus-grid .menus-category {
  overflow: hidden;
}
.menus-grid .menus-category .menu-item {
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  margin: 0.5rem;
  cursor: pointer;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menus-grid .menus-category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menus-grid .menus-category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menus-grid .menus-category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menus-grid .menus-category .menu-item .prix {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
}
.menus-grid .menus-category .menu-item .menu-item_description {
  padding: 1rem;
  overflow: hidden;
}
.menus-grid .menus-category .menu-item .menu-item_description h4, .menus-grid .menus-category .menu-item .menu-item_description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .menus-category .menu-item .menu-item_check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menus-grid .menus-category .menu-item .fa-solid.fa-check {
  display: grid;
  place-items: center;
  background-color: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus-grid .menus-category .menu-item:hover .menu-item_check {
  margin-right: 0;
}
.menus-grid .menus-category .menu-item:hover .fa-solid.fa-check {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

div.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
div.order button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
div.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
